exportPattern("^[[:alpha:]]+")

S3method("plot", magbin)

import("mapproj")

importFrom("grDevices", "hsv", "rainbow", "grey", "rgb", "dev.cur", "extendrange", "colorRampPalette", "hcl.colors", "grey.colors")
importFrom("graphics", "arrows", "axis", "box", "contour", "image", "mtext", "par",
           "plot", "plot.new", "plot.window", "rect", "text", "abline", "layout",
           "lines", "points", "polygon",  "hist")
importFrom("stats", "approxfun", "density", "median", "pnorm", "quantile", "sd", "rnorm", "ecdf", "qnorm", "mad", "aggregate", "runif")
importFrom("celestial", "hms2deg", "dms2deg", "deg2hms", "deg2dms", "radec2xy", "xy2radec", "getpixscale")
importFrom("RANN", "nn2")
importFrom("plotrix", "color.legend", "draw.ellipse")
importFrom("sm", "sm.density")
importFrom("MASS", "kde2d")
importFrom("utils", "str")
