exportPattern("^[[:alpha:]]+")

import('MASS')
import('plotrix')
import("sm")
import("mapproj")
#import("celestial")

importFrom("grDevices", "hsv", "rainbow", "grey", "rgb", "dev.cur", "extendrange")
importFrom("graphics", "arrows", "axis", "box", "contour", "image", "mtext", "par",
           "plot", "plot.new", "plot.window", "rect", "text", "abline", "layout",
           "lines", "points", "polygon",  "hist")
importFrom("stats", "approxfun", "density", "median", "pnorm", "quantile", "sd", "rnorm", "ecdf", "qnorm")
importFrom("celestial", "hms2deg", "dms2deg", "deg2hms", 'deg2dms', 'radec2xy', 'xy2radec', 'getpixscale')